<!DOCTYPE html>
<html>
<body>

<h2>Добавить товар</h2>

<form action={% url 'add_product' %} method="post">
  {% csrf_token %}
  Код товара<br>
  <input type="text" name="code">
  <br>
  Цвет<br>
  <input type="text" name="colour">
  <br>
  Размер<br>
  <input type="text" name="size">
  <br>
  Пол<br>
  <input type="text" name="gender">
  <br>
  {% if message %}
    <label> {{  message }} </label>
  {% endif %}
  <br><br>
  <input type="submit" value="Добавить">
</form>
<br><br>
{% if products %}
<table>
<tr>
    <th></th>
    <th>Код товара</th>
    <th>Пол</th>
    <th>Цвет</th>
    <th>Размер</th>
    <th>Дата продажи</th>
    <th>Дата добавления</th>
  </tr>
{% for p in products %}
  <tr>
      <td>{{ p }}</td>
  </tr>
{% endfor %}
</table>
{% endif%}


</body>
</html>
