<!DOCTYPE html>
<html>
<body>

<h2>Поиск</h2>

<form action={% url 'search_product' %} method="post">
  {% csrf_token %}
  Код товара<br>

  <input type="text" name="code">
  <br><br>
  <input type="submit" value="Искать">
  <br>

  {% if message %}
    <label> {{  message }} </label>
  {% endif %}
  <br><br>
</form>

<br><br>
{% if products %}
<table>
<tr>
    <th></th>
    <th>Код товара</th>
    <th>Пол</th>
    <th>Цвет</th>
    <th>Размер</th>
    <th>Дата продажи</th>
    <th>Дата добавления</th>
  </tr>
{% for p in products %}
  <tr>
      <td>{{ p }}</td>
  </tr>
{% endfor %}
</table>
{% endif%}

</body>
</html>
